In [2]:
import pandas as pd
import csv
import re

df = pd.read_csv('generate_cypher_4bit_error_evaluated.csv')
pd.set_option('display.max_colwidth', None)
pd.set_option("display.max_rows", None)

In [3]:
no_err = df[(df["error_analysis"] == "NoError")]
err = df[(df["error_analysis"] != "NoError")]
executable_df = no_err[no_err["exact_match"] == 0.0]
matching_df = no_err[no_err["exact_match"] == 1.0]

In [4]:
avg_len_executable = executable_df["question"].str.len().mean()
avg_len_matching = matching_df["question"].str.len().mean()
avg_len_err = err['question'].str.len().mean()

avg_len_executable, avg_len_matching, avg_len_err

(75.00819061801936, 70.67391304347827, 83.56299212598425)

In [9]:
len(matching_df), len(executable_df), len(no_err), len(df)

(874, 1343, 2217, 2471)

In [246]:
# no_err_counts = no_err["database_reference_alias"].value_counts()
err_counts = err["database_reference_alias"].value_counts()
executable_counts = executable_df["database_reference_alias"].value_counts()
matching_counts = matching_df["database_reference_alias"].value_counts()

# no_err_table = no_err_counts.reset_index().rename(columns={"index": "database_reference_alias", "database_reference_alias": "count"})
err_table = err_counts.reset_index().rename(columns={"index": "database_reference_alias", "database_reference_alias": "count"})
executable_table = executable_counts.reset_index().rename(columns={"index": "database_reference_alias", "database_reference_alias": "count"})
matching_table = matching_counts.reset_index().rename(columns={"index": "database_reference_alias", "database_reference_alias": "count"})

# print("No Error Table:\n", no_err_table)
print("\nError Table:\n", err_table)
print("\nNot Matching Table:\n", executable_table)
print("\nMatching Table:\n", matching_table)

Error Table:
              database_reference_alias  count
0   neo4jlabs_demo_db_recommendations     37
1         neo4jlabs_demo_db_northwind     27
2            neo4jlabs_demo_db_movies     26
3         neo4jlabs_demo_db_companies     25
4            neo4jlabs_demo_db_fincen     20
5            neo4jlabs_demo_db_twitch     19
6           neo4jlabs_demo_db_neoflix     18
7        neo4jlabs_demo_db_grandstack     16
8           neo4jlabs_demo_db_network     14
9      neo4jlabs_demo_db_buzzoverflow     12
10   neo4jlabs_demo_db_stackoverflow2     12
11    neo4jlabs_demo_db_gameofthrones      9
12    neo4jlabs_demo_db_offshoreleaks      7
13          neo4jlabs_demo_db_twitter      7
14          neo4jlabs_demo_db_bluesky      4
15    neo4jlabs_demo_db_openstreetmap      1

Not Matching Table:
              database_reference_alias  count
0         neo4jlabs_demo_db_companies    171
1   neo4jlabs_demo_db_recommendations    144
2           neo4jlabs_demo_db_neoflix    140
3           neo4jlabs_demo_db_twitter    107
4         neo4jlabs_demo_db_northwind    105
5            neo4jlabs_demo_db_twitch     97
6            neo4jlabs_demo_db_movies     86
7        neo4jlabs_demo_db_grandstack     84
8      neo4jlabs_demo_db_buzzoverflow     79
9            neo4jlabs_demo_db_fincen     73
10    neo4jlabs_demo_db_offshoreleaks     71
11    neo4jlabs_demo_db_gameofthrones     67
12   neo4jlabs_demo_db_stackoverflow2     52
13          neo4jlabs_demo_db_network     46
14          neo4jlabs_demo_db_bluesky     21

Matching Table:
              database_reference_alias  count
0           neo4jlabs_demo_db_neoflix    103
1            neo4jlabs_demo_db_movies     91
2        neo4jlabs_demo_db_grandstack     82
3         neo4jlabs_demo_db_companies     79
4     neo4jlabs_demo_db_gameofthrones     72
5   neo4jlabs_demo_db_recommendations     72
6            neo4jlabs_demo_db_twitch     69
7         neo4jlabs_demo_db_northwind     65
8            neo4jlabs_demo_db_fincen     53
9           neo4jlabs_demo_db_network     49
10    neo4jlabs_demo_db_offshoreleaks     37
11          neo4jlabs_demo_db_twitter     32
12     neo4jlabs_demo_db_buzzoverflow     29
13   neo4jlabs_demo_db_stackoverflow2     27
14          neo4jlabs_demo_db_bluesky     14

In [11]:
executable_df[executable_df["bleu_score"] < 0.2].sort_values(by='bleu_score', ascending=True)[["question","cypher","generated_cypher"]]

,question,cypher,generated_cypher
2168,"Find the streams that have ""rajjix"" as a chatter and play ""Dota 2"".","MATCH (u:User {name: ""rajjix""}) MATCH (u)-[:CHATTER]->(s:Stream) MATCH (s)-[:PLAYS]->(g:Game {name: ""Dota 2""}) RETURN s.name","MATCH (s:Stream)-[:CHATTER]->(u:User {name: 'rajjix'}) WHERE s.name IS NOT NULL AND s.name <> '' AND s.name <> 'rajjix' RETURN s.name, s.url, s.total_view_count, s.followers, s.createdAt, s.description, s.id, s.name AS StreamName, s.url AS StreamUrl, s.total_view_count AS StreamTotalViewCount, s.followers AS StreamFollowers, s.createdAt AS StreamCreatedAt, s.description AS StreamDescription, s.id AS StreamId, s.name AS StreamStreamName, s.url AS StreamStreamUrl, s.total_view_count AS StreamStreamTotalViewCount, s.followers AS StreamStreamFollowers, s.createdAt AS StreamStreamCreatedAt, s.description AS StreamStreamDescription, s.id AS StreamStreamId, s.name AS StreamStreamStreamName, s.url AS StreamStreamStreamUrl, s.total_view_count AS StreamStreamStreamTotalViewCount, s.followers AS StreamStreamStreamFollowers, s.createdAt AS StreamStreamStreamCreatedAt, s.description AS StreamStreamStreamDescription, s.id AS StreamStreamStreamId, s.name AS StreamStreamStreamStreamName, s.url AS StreamStreamStreamStreamUrl, s.total_view_count AS StreamStreamStreamStreamTotalViewCount, s.followers AS StreamStreamStreamStreamFollowers, s.createdAt AS StreamStreamStreamStreamCreatedAt, s.description AS StreamStreamStreamStreamDescription, s.id AS StreamStreamStreamStreamId, s.name AS StreamStreamStreamStreamStreamName, s.url AS StreamStreamStreamStreamStreamUrl, s.total_view_count AS StreamStreamStreamStreamStreamTotalViewCount, s.followers AS StreamStreamStreamStreamStreamFollowers, s.createdAt AS StreamStreamStreamStreamStreamCreatedAt, s.description AS StreamStreamStreamStreamStreamDescription, s.id AS StreamStreamStreamStreamStreamId, s.name AS StreamStreamStreamStreamStreamStreamName, s.url AS StreamStreamStreamStreamStreamStreamUrl, s.total_view_count AS StreamStreamStreamStreamStreamStreamTotalViewCount, s.followers AS StreamStreamStreamStreamStreamStreamFollowers, s.createdAt AS StreamStreamStreamStreamStreamStreamCreatedAt, s.description AS StreamStreamStreamStreamStreamStreamDescription, s.id AS StreamStreamStreamStreamStreamStreamId"
524,"What is the total number of filings where the originator bank, beneficiary bank, and filer organization are all located in different countries?",MATCH (filing:Filing) WITH filing MATCH (filing)-[:ORIGINATOR]->(:Entity)-[:COUNTRY]->(originatorCountry:Country) MATCH (filing)-[:CONCERNS]->(:Entity)-[:COUNTRY]->(beneficiaryCountry:Country) MATCH (filing)-[:FILED]->(:Entity)-[:COUNTRY]->(filerCountry:Country) WHERE originatorCountry.code <> beneficiaryCountry.code AND originatorCountry.code <> filerCountry.code AND beneficiaryCountry.code <> filerCountry.code RETURN count(DISTINCT filing) AS totalFilings,MATCH (f:Filing) WHERE f.originator_bank_country <> f.beneficiary_bank_country AND f.originator_bank_country <> f.filer_org_name AND f.beneficiary_bank_country <> f.filer_org_name RETURN count(f)
992,"""who's your daddy""","MATCH (child:Person)-[:FOLLOWS]->(parent:Person) RETURN child.name AS ChildName, parent.name AS ParentName",MATCH (p:Person) WHERE p.name = 'your daddy' RETURN p
1794,List the entities associated with the 'Bahamas Leaks'.,MATCH (e:Entity) WHERE e.sourceID = 'Bahamas Leaks' RETURN e,"MATCH (e:Entity)-[:registered_address]->(a:Address)-[:same_id_as]->(:Other) WHERE a.sourceID = ""Bahamas Leaks"" RETURN e.name AS entity_name, a.address AS address, a.sourceID AS source_id"
504,Which entities are originators in the filings involving the highest amounts?,"MATCH (e:Entity)-[:ORIGINATOR]->(f:Filing) RETURN e, f.amount ORDER BY f.amount DESC LIMIT 1","MATCH (f:Filing) WITH f, f.amount AS filingAmount ORDER BY filingAmount DESC LIMIT 10 RETURN f.originator_bank_id AS originator_bank_id, f.originator_bank AS originator_bank, f.filer_org_name_id AS filer_org_name_id, f.filer_org_name AS filer_org_name"
552,Which entity filed the filing with the lowest 'amount'?,MATCH (f:Filing) WITH f ORDER BY f.amount ASC LIMIT 1 MATCH (e:Entity)-[:FILED]->(f) RETURN e,"MATCH (f:Filing) RETURN f.amount AS amount, f.id AS filing_id, f.begin AS begin_date, f.end AS end_date, f.originator_bank_id AS originator_bank_id, f.beneficiary_bank_id AS beneficiary_bank_id ORDER BY amount LIMIT 1"
311,What is the name of the country with the organization that has the highest revenue?,MATCH (o:Organization) WITH max(o.revenue) AS maxRevenue MATCH (org:Organization { revenue: maxRevenue }) MATCH (org)-[:IN_CITY]->(city:City)-[:IN_COUNTRY]->(country:Country) RETURN country.name,"MATCH (o:Organization) RETURN o.name AS organizationName, o.revenue AS revenue, o.id AS organizationId ORDER BY revenue DESC LIMIT 1"
650,"Which characters have a 'degree' higher than 10 and interacted with ""Cersei-Lannister"" in any book?","MATCH (cersei:Character {name: ""Cersei-Lannister""}) MATCH (other:Character) WHERE other.degree > 10 AND ( (cersei)-[:INTERACTS]->(other) OR (cersei)-[:INTERACTS1]->(other) OR (cersei)-[:INTERACTS2]->(other) OR (cersei)-[:INTERACTS3]->(other) OR (cersei)-[:INTERACTS45]->(other) ) RETURN DISTINCT other.name","MATCH (c1:Character)-[r:INTERACTS45]->(c2:Character) WHERE c1.name = ""Cersei-Lannister"" RETURN c1.name AS Character, c2.name AS InteractedWith, r.book AS Book, r.weight AS Weight"
663,Find the characters who have interacted with 'Aegon-I-Targaryen' in any book and have a 'centrality' of 0.0.,MATCH (aegon:Character {name: 'Aegon-I-Targaryen'}) CALL { WITH aegon MATCH (aegon)-[:INTERACTS]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS1]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS2]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS3]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS45]->(other) RETURN other } WITH other WHERE other.centrality = 0.0 RETURN DISTINCT other.name,"MATCH (c:Character)-[r:INTERACTS45]->(:Character {name: ""Aegon-I-Targaryen""}) WHERE c.centrality = 0.0 RETURN c.name"
527,What is the total amount filed by entities in 'China'?,MATCH (c:Country {name: 'China'})<-[:COUNTRY]-(e:Entity)-[:FILED]->(f:Filing) RETURN SUM(f.amount) AS total_amount,MATCH (e:Entity {name: 'The Bank of New York Mellon Corp.'}) RETURN e.name
1780,List all entities with a last edit timestamp of '1638311020926'.,"MATCH (e:Entity) WHERE e.lastEditTimestamp = '1638311020926' RETURN e.name, e.node_id, e.countries, e.ibcRUC, e.valid_until, e.country_codes, e.service_provider, e.address, e.inactivation_date, e.struck_off_date, e.status, e.jurisdiction_description, e.incorporation_date, e.original_name, e.jurisdiction, e.internal_id, e.sourceID, e.former_name, e.company_type, e.tax_stat_description, e.note, e.dorm_date, e.type, e.closed_date, e.company_number, e.comments, e.entity_number","MATCH (e:Entity) WHERE e.lastEditTimestamp = '1638311020926' RETURN e.name AS entity_name, e.node_id AS entity_id"
624,List the characters who are part of both community 578 and 579. Limit to 5 characters.,"MATCH (c1:Character {community: 578}), (c2:Character {community: 579}) WHERE c1.name = c2.name RETURN c1.name AS CharacterName LIMIT 5","MATCH (c:Character) WHERE c.community IN [578, 579] RETURN c.name LIMIT 5"
502,"What is the total amount of filings where the originator bank is located in a country with a name starting with ""S"" and the beneficiary bank is located in a country with a name starting with ""U""?",MATCH (f:Filing) WHERE f.originator_bank_country STARTS WITH 'S' AND f.beneficiary_bank_country STARTS WITH 'U' RETURN sum(f.amount) AS total_amount,"MATCH (f:Filing)-[:ORIGINATOR]->(o:Entity)-[:COUNTRY]->(c:Country) WHERE c.name STARTS WITH 'S' WITH f, o, c MATCH (f)-[:BENEFITS]->(b:Entity)-[:COUNTRY]->(d:Country) WHERE d.name STARTS WITH 'U' WITH f, o, c, b, d RETURN sum(f.amount)"
67,What is the total number of questions asked by users with a reputation greater than the average reputation of all users?,MATCH (u:User) WITH avg(u.reputation) AS averageReputation MATCH (u:User)-[:ASKED]->(q:Question) WHERE u.reputation > averageReputation RETURN count(DISTINCT q) AS questionCount,"MATCH (u:User)-[:ASKED]->(q:Question) WITH u, q RETURN u.reputation AS user_reputation, q.title AS question_title, q.link AS question_link, q.createdAt AS question_created_at, q.upVotes AS question_upvotes, q.downVotes AS question_downvotes, q.score AS question_score UNION ALL MATCH (u:User)-[:ASKED]->(q:Question) WITH u, q RETURN u.reputation AS user_reputation, q.title AS question_title, q.link AS question_link, q.createdAt AS question_created_at, q.upVotes AS question_upvotes, q.downVotes AS question_downvotes, q.score AS question_score ORDER BY q.createdAt DESC"
577,Identify the top 3 filings where the originator bank and the beneficiary bank are located at the same latitude.,MATCH (f:Filing) WHERE f.origin_lat = f.beneficiary_lat RETURN f ORDER BY f.amount DESC LIMIT 3,"MATCH (f:Filing)-[:ORIGINATOR]->(o:Entity)-[:COUNTRY]->(c:Country) MATCH (f)-[:BENEFITS]->(b:Entity)-[:COUNTRY]->(cc:Country) WHERE f.originator_bank_country = f.beneficiary_bank_country RETURN f.originator_bank_country, f.beneficiary_bank_country, f.begin_date, f.end_date, f.amount ORDER BY f.amount DESC LIMIT 3"
492,List the first 3 filings where the beneficiary bank country is different from the originator bank country.,"MATCH (f:Filing)-[:ORIGINATOR]->(o:Entity)-[:COUNTRY]->(oc:Country), (f:Filing)-[:BENEFITS]->(b:Entity)-[:COUNTRY]->(bc:Country) WHERE o.country <> b.country RETURN f.id, f.amount, f.originator_bank, f.beneficiary_bank ORDER BY f.id LIMIT 3",MATCH (f:Filing) WHERE f.beneficiary_bank_country <> f.originator_bank_country RETURN f LIMIT 3
1913,Find the movies that have been released in the same year as the movie with the lowest IMDb rating.,MATCH (m:Movie) WITH m ORDER BY m.imdbRating ASC LIMIT 1 WITH m.year AS lowestRatedYear MATCH (movie:Movie {year: lowestRatedYear}) RETURN movie.title,MATCH (m1:Movie) MATCH (m2:Movie) WHERE m1.imdbRating < m2.imdbRating RETURN m1.title
852,Can you find the top 5 most recent reviews?,"MATCH (u:User)-[:WROTE]->(r:Review)-[:REVIEWS]->(b:Business) RETURN r.date AS reviewDate, r.text AS reviewText, r.stars AS reviewStars, u.name AS userName, b.name AS businessName ORDER BY r.date DESC LIMIT 5",MATCH (r:Review) WITH r ORDER BY r.date DESC LIMIT 5 RETURN r
902,List the top 3 most recent reviews.,"MATCH (u:User)-[:WROTE]->(r:Review)-[:REVIEWS]->(b:Business) RETURN r.date AS reviewDate, r.text AS reviewText, r.stars AS reviewStars, u.name AS userName, b.name AS businessName ORDER BY r.date DESC LIMIT 3",MATCH (r:Review) WITH r ORDER BY r.date DESC LIMIT 3 RETURN r
1711,How many officers have the same name but different icij_ids?,"MATCH (o:Officer) WITH o.name AS officer_name, collect(DISTINCT o.icij_id) AS icij_ids, count(*) AS num_officers WHERE size(icij_ids) > 1 RETURN count(*) AS num_officer_name_conflicts",MATCH (o1:Officer)-[:same_name_as]->(o2:Officer) WHERE o1.icij_id <> o2.icij_id RETURN COUNT(*)
690,"Find the characters with the lowest `book45PageRank` who interact with ""Walder-Rivers"" in any book.","MATCH (wr:Character {name: ""Walder-Rivers""})-[r]-(c:Character) WITH min(c.book45PageRank) AS min_page_rank MATCH (wr:Character {name: ""Walder-Rivers""})-[r]-(c:Character) WHERE c.book45PageRank = min_page_rank RETURN c.name","MATCH (c1:Character)-[r:INTERACTS45]->(c2:Character) WHERE c1.name = ""Walder-Rivers"" RETURN c2.book45PageRank ORDER BY c2.book45PageRank ASC"
629,Identify characters whose pagerank is exactly 0.15000000000000002.,MATCH (c:Character) WHERE c.pagerank = 0.15000000000000002 RETURN c.name,"MATCH (c:Character) WHERE c.pagerank = 0.15 RETURN c.name AS name, c.centrality AS centrality, c.book1BetweennessCentrality AS book1BetweennessCentrality, c.book1PageRank AS book1PageRank, c.book45PageRank AS book45PageRank, c.fastrf_embedding AS fastrf_embedding, c.louvain AS louvain, c.community AS community, c.degree AS degree"
1792,Identify the intermediaries with a status of 'ACTIVE'.,MATCH (i:Intermediary {status: 'ACTIVE'}) RETURN i,"MATCH (i:Intermediary) WHERE i.status = 'ACTIVE' RETURN i.name AS intermediary_name, i.node_id AS intermediary_id"
574,Find the filings where the 'originator_bank' and 'beneficiary_bank' are both located in the same city.,MATCH (f:Filing) WHERE f.originator_bank IS NOT NULL AND f.beneficiary_bank IS NOT NULL MATCH (f)-[:ORIGINATOR]->(originator:Entity {name: f.originator_bank}) MATCH (f)-[:CONCERNS]->(beneficiary:Entity {name: f.beneficiary_bank}) WHERE originator.location = beneficiary.location RETURN f.id,MATCH (f:Filing) WHERE f.originator_bank <> f.beneficiary_bank RETURN f
1564,What are the first 5 orders placed in the year 1996?,"MATCH (o:Order) WHERE o.orderDate STARTS WITH '1996' RETURN o.orderID, o.orderDate ORDER BY o.orderDate LIMIT 5","MATCH (o:Order) WHERE o.orderDate >= datetime('1996-01-01') RETURN o.orderID, o.orderDate, o.shipName, o.shipCity, o.shipCountry, o.shipAddress, o.shipPostalCode, o.shipRegion, o.shipVia, o.requiredDate, o.shippedDate, o.freight, o.employeeID, o.customerID, o.unitPrice, o.discount, o.quantity, o.productID LIMIT 5"
544,List the top 5 filings where the originator and beneficiary banks are in the same country.,"MATCH (f:Filing)-[:ORIGINATOR]->(o:Entity)-[:COUNTRY]->(oc:Country), (f)-[:BENEFITS]->(b:Entity)-[:COUNTRY]->(bc:Country) WHERE oc.code = bc.code RETURN f ORDER BY f.amount DESC LIMIT 5","MATCH (f:Filing) WHERE f.originator_bank_country = f.beneficiary_bank_country RETURN f.sar_id, f.originator_bank, f.beneficiary_bank, f.originator_bank_country ORDER BY f.amount DESC LIMIT 5"
1878,What is the name of the movie with the highest IMDb rating that is a documentary?,MATCH (m:Movie)-[:IN_GENRE]->(g:Genre {name: 'Documentary'}) WITH max(m.imdbRating) AS maxRating MATCH (m:Movie)-[:IN_GENRE]->(:Genre {name: 'Documentary'}) WHERE m.imdbRating = maxRating RETURN m.title,MATCH (m:Movie) WHERE m.imdbRating IS NOT NULL AND m.title CONTAINS 'Documentary' RETURN m.title ORDER BY m.imdbRating DESC LIMIT 1
468,What is the total `amount` of filings where the `originator_bank` is located in a country with a `tld` that is present in the top 5 most frequent `tld` values?,"MATCH (c:Country)<-[:COUNTRY]-(:Entity) WITH c.tld AS tld, count(*) AS frequency ORDER BY frequency DESC LIMIT 5 WITH collect(tld) AS topTlds MATCH (f:Filing)-[:ORIGINATOR]->(e:Entity)-[:COUNTRY]->(country:Country) WHERE country.tld IN topTlds RETURN sum(f.amount) AS total_amount","MATCH (f:Filing) WHERE f.originator_bank_country IS NOT NULL WITH f, f.originator_bank_country AS country_origin, f.amount AS amount MATCH (c:Country {code: f.originator_bank_country}) WITH f, f.originator_bank_country AS country_origin, f.amount AS amount, c.name AS country_name, c.tld AS tld MATCH (e:Entity) WHERE e.name = country_name RETURN f.originator_bank_country, f.amount"
714,Identify the top 5 characters based on the average of their centrality values across all books.,"MATCH (c:Character) WHERE c.centrality IS NOT NULL AND exists {(c)-[:INTERACTS1]->()} AND exists {(c)-[:INTERACTS2]->()} AND exists {(c)-[:INTERACTS3]->()} AND exists {(c)-[:INTERACTS45]->()} WITH c, (coalesce(c.book1PageRank, 0) + coalesce(c.book45PageRank, 0) + coalesce(c.pagerank, 0)) / 3 AS avgCentrality RETURN c.name AS character, avgCentrality ORDER BY avgCentrality DESC LIMIT 5","MATCH (c:Character) WITH c, avg(c.centrality) AS avgCentrality RETURN c.name AS character, avgCentrality ORDER BY avgCentrality DESC LIMIT 5"
1921,List the first 5 movies that have been directed by women.,"MATCH (director:Person)-[:DIRECTED]->(movie:Movie) WHERE director.name =~ ""(?i).*\\b(Ms\\.|Miss|Mrs\\.|Madam|Madame|Mademoiselle|Frau|Fräulein|Señora|Señorita|Doña|Donna)\\b.*"" RETURN movie.title LIMIT 5","MATCH (d:Director)-[:DIRECTED]->(m:Movie) WHERE d.name IS NOT NULL RETURN m.title, m.year, m.tmdbId ORDER BY m.year LIMIT 5"
676,"What characters have interacted with ""Cersei-Lannister"" in book 45?","MATCH (c:Character {name: ""Cersei-Lannister""})-[:INTERACTS45 {book: 45}]-(other) RETURN other.name AS character_name","MATCH (c:Character)-[r:INTERACTS45]->(Cersei:Character {name: ""Cersei-Lannister""}) RETURN c.name AS character, c.centrality AS centrality, c.book45PageRank AS book45PageRank, c.fastrf_embedding AS fastrf_embedding, c.book1BetweennessCentrality AS book1BetweennessCentrality, c.book1PageRank AS book1PageRank, c.louvain AS louvain, c.community AS community, c.degree AS degree, r.weight AS weight, c.pagerank AS pagerank"
134,List the first 5 questions that have exactly 2 upVotes.,MATCH (q:Question {upVotes: 2}) RETURN q LIMIT 5,"MATCH (q:Question) WHERE q.upVotes = 2 RETURN q.title, q.link, q.createdAt ORDER BY q.createdAt LIMIT 5"
1359,Which actors have starred in both animated and non-animated movies?,"MATCH (animationGenre:Genre { name: 'Animation' })<-[:IN_GENRE]-(animationMovie:Movie)<-[:CAST_FOR]-(animationActor:Person) WITH COLLECT(DISTINCT animationActor) AS animationActors MATCH (nonAnimationGenre:Genre)<-[:IN_GENRE]-(nonAnimationMovie:Movie)<-[:CAST_FOR]-(nonAnimationActor:Person) WHERE nonAnimationGenre.name <> 'Animation' WITH animationActors, COLLECT(DISTINCT nonAnimationActor) AS nonAnimationActors WITH apoc.coll.intersection(animationActors, nonAnimationActors) AS actorsInBoth UNWIND actorsInBoth AS actor RETURN actor.name",MATCH (p:Person)-[:CAST_FOR]->(m:Movie {average_vote: 0.0}) WITH p MATCH (p)-[:CAST_FOR]->(m2:Movie) WHERE m2.average_vote > 0.0 RETURN p.name
439,List the first 3 countries where the beneficiary latitude is greater than 50 degrees.,MATCH (f:Filing) WHERE toFloat(f.beneficiary_lat) > 50 MATCH (f)-[:BENEFITS]->(e:Entity)-[:COUNTRY]->(c:Country) RETURN DISTINCT c.name LIMIT 3,"MATCH (f:Filing) WHERE f.beneficiary_lat > '50' WITH DISTINCT f.beneficiary_bank_country AS country_name, f.beneficiary_lat AS beneficiary_lat, f.beneficiary_lng AS beneficiary_lng RETURN country_name ORDER BY beneficiary_lat LIMIT 3"

In [238]:
pattern = r'["\']\d+["\']'
filtered_df = executable_df[executable_df['generated_cypher'].astype(str).str.contains(pattern, regex=True)][["question","cypher","generated_cypher"]]

In [239]:
filtered_df

,question,cypher,generated_cypher
11,How many users have an area other than 2.6 and a size less than 3?,MATCH (u:User) WHERE u.area <> 2.6 AND u.size < 3 RETURN count(u),MATCH (u:User) WHERE u.area <> '2.6' AND u.size < '3' RETURN count(u)
77,List the questions asked by the user with id 10251021.,"MATCH (u:User {id: 10251021})-[ :ASKED ]->(q:Question) RETURN q.title, q.id","MATCH (u:User {id: '10251021'})-[:ASKED]->(q:Question) RETURN q.title, q.link"
354,Find the names of all articles that mention organizations with a revenue greater than $1 billion.,MATCH (org:Organization)<-[:MENTIONS]-(article:Article) WHERE org.revenue > 1E9 RETURN article.title,MATCH (a:Article)-[:MENTIONS]->(o:Organization) WHERE o.revenue > '1000000000' RETURN a.title
439,List the first 3 countries where the beneficiary latitude is greater than 50 degrees.,MATCH (f:Filing) WHERE toFloat(f.beneficiary_lat) > 50 MATCH (f)-[:BENEFITS]->(e:Entity)-[:COUNTRY]->(c:Country) RETURN DISTINCT c.name LIMIT 3,"MATCH (f:Filing) WHERE f.beneficiary_lat > '50' WITH DISTINCT f.beneficiary_bank_country AS country_name, f.beneficiary_lat AS beneficiary_lat, f.beneficiary_lng AS beneficiary_lng RETURN country_name ORDER BY beneficiary_lat LIMIT 3"
554,"List the top 3 Filings where the amount is exactly $1,000,000.",MATCH (f:Filing) WHERE f.amount = 1000000 RETURN f ORDER BY f.amount DESC LIMIT 3,MATCH (f:Filing) WHERE f.amount = '1000000' RETURN f ORDER BY f.begin LIMIT 3
1182,List all movies that have been rated by user with ID 1.,MATCH (u:User {id: 1})-[:RATED]->(m:Movie) RETURN m.title AS MovieTitle,MATCH (u:User {id: '1'})-[:RATED]->(m:Movie) RETURN m.title
1207,What are the 3 latest movies rated by user with id 1?,"MATCH (u:User {id: 1})-[r:RATED]->(m:Movie) RETURN m.title, r.rating, r.timestamp ORDER BY r.timestamp DESC LIMIT 3","MATCH (u:User {id: '1'})-[:RATED]->(m:Movie) RETURN m.title, m.release_date ORDER BY m.release_date DESC LIMIT 3"
1239,What are the first 5 movies rated by user with ID 1?,MATCH (u:User {id: 1})-[:RATED]->(m:Movie) RETURN m LIMIT 5,"MATCH (u:User {id: '1'})-[:RATED]->(m:Movie) RETURN m.title, m.average_vote ORDER BY m.average_vote DESC LIMIT 5"
1247,List the top 3 people who have the most credits as a producer.,"MATCH (p:Person)-[r:CREW_FOR]->(m:Movie) WHERE r.job = ""Producer"" RETURN p.name, COUNT(r) AS producer_credits ORDER BY producer_credits DESC LIMIT 3","MATCH (p:Person)-[:CREW_FOR]->(m:Movie) WHERE m.id IN ['31357'] WITH p, count(m) AS producerCount ORDER BY producerCount DESC LIMIT 3 RETURN p.name AS producerName, producerCount"
1323,How many movies were released in the year 1990?,MATCH (m:Movie) WHERE date(m.release_date).year = 1990 RETURN count(m),MATCH (m:Movie) WHERE m.release_date = '1990' RETURN count(m)
1399,What are the top 3 processes that listen on port 80?,MATCH (p:Process)-[:LISTENS]->(port:Port {port: 80}) RETURN p ORDER BY p.startTime DESC LIMIT 3,"MATCH (p:Process)-[:LISTENS]->(port:Port {port: '80'}) RETURN p.name AS process, port.port AS port, p.startTime AS startTime ORDER BY p.startTime DESC LIMIT 3"
1401,What are the names of the services that depend on the process named '8966'?,MATCH (p:Process {pid: 8966})-[:DEPENDS_ON]->(s:Service) RETURN s.name,MATCH (p:Process {name: '8966'})-[:DEPENDS_ON]->(s:Service) RETURN DISTINCT s.name
1412,What are the top 3 services that depend on the process named '8966'?,"MATCH (p:Process {pid: 8966})-[:DEPENDS_ON]->(s:Service) RETURN s.name AS service_name, COUNT(*) AS dependency_count ORDER BY dependency_count DESC LIMIT 3","MATCH (p:Process {name: '8966'})-[:DEPENDS_ON]->(s:Service) RETURN s.name AS service, count(s) AS count ORDER BY count DESC LIMIT 3"
1424,Which machines are running services that listen on port 80?,MATCH (m:Machine)-[:RUNS]->(s:Service)-[:LISTENS]->(p:Port {port: 80}) RETURN m.name AS machine_name,MATCH (m:Machine)-[:RUNS]->(s:Service)-[:LISTENS]->(p:Port {port: '80'}) RETURN m.name AS machine_name
1434,What are the IPs of the top 3 Interfaces exposed to Port 80?,MATCH (p:Port {port: 80})<-[:EXPOSES]-(i:Interface) RETURN i.ip ORDER BY i.ip LIMIT 3,"MATCH (i:Interface)-[:EXPOSES]->(p:Port {port: '80'}) WITH i, p ORDER BY p.port ASC LIMIT 3 RETURN i.ip"
1456,Name the top 3 Services listening on Port 80.,MATCH (s:Service)-[:LISTENS]->(p:Port {port: 80}) RETURN s.name AS service_name LIMIT 3,"MATCH (s:Service)-[:LISTENS]->(p:Port {port: '80'}) RETURN s.name, p.port, s.startTime ORDER BY p.port, s.startTime DESC LIMIT 3"
1469,What are the names of all applications that depend on the process named '8966'?,MATCH (p:Process {pid: 8966})<-[:DEPENDS_ON]-(a:Application) RETURN a.name,MATCH (p:Process {name: '8966'})-[:DEPENDS_ON]->(a:Application) RETURN a.name
1482,List the names of all services that listen on port 80.,MATCH (p:Port {port: 80})<-[:LISTENS]-(s:Service) RETURN s.name,MATCH (s:Service)-[:LISTENS]->(p:Port {port: '80'}) RETURN s.name
1484,Find all orders shipped to 'France' with a freight cost more than 50.,"MATCH (o:Order)-[:ORDERS]->(p:Product) WHERE o.shipCountry = 'France' AND toFloat(o.freight) > 50 RETURN o.orderID, o.shipName, o.shipCity, o.shipPostalCode, o.shipAddress, o.shipCountry, o.freight",MATCH (o:Order)-[:ORDERS]->(p:Product) WHERE o.shipCountry = 'France' AND o.freight > '50' RETURN o
1535,Find the top 5 customers who have ordered products where the discount was not applied.,"MATCH (c:Customer)-[:PURCHASED]->(o:Order)-[r:ORDERS]->(p:Product) WHERE r.discount = ""0"" WITH c, COUNT(o) AS orderCount ORDER BY orderCount DESC LIMIT 5 RETURN c.customerID, c.companyName, orderCount","MATCH (c:Customer)-[:PURCHASED]->(o:Order)-[:ORDERS]->(p:Product) WHERE p.discount = '0' RETURN c.companyName AS CustomerName, COUNT(p) AS TotalOrders ORDER BY TotalOrders DESC LIMIT 5"
1541,Which orders were placed in the year 1996?,"MATCH (o:Order) WHERE o.orderDate STARTS WITH '1996' RETURN o.orderID AS orderID, o.orderDate AS orderDate",MATCH (o:Order) WHERE o.orderDate STARTS WITH '1996' RETURN o
1557,Identify all orders shipped to 'France' and have a 'shipVia' of 1.,"MATCH (o:Order) WHERE o.shipCountry = 'France' AND o.shipVia = '1' RETURN o.orderID, o.shipName, o.shipCity, o.shipPostalCode, o.shipAddress, o.shipCountry, o.shipVia",MATCH (o:Order)-[:ORDERS]->(p:Product) WHERE o.shipCountry = 'France' AND o.shipVia = '1' RETURN o
1599,What is the total revenue generated by orders that include products with a discount?,"MATCH (o:Order)-[rel:ORDERS]->(p:Product) WHERE rel.discount > 0 WITH o, sum(toFloat(rel.unitPrice) * rel.quantity * (1 - toFloat(rel.discount))) AS orderRevenue RETURN sum(orderRevenue) AS totalRevenue",MATCH (o:Order)-[r:ORDERS]->(p:Product) WHERE r.discount <> '0' RETURN sum(toFloat(r.unitPrice) * r.quantity) AS totalRevenue
1659,List the orders placed by customers in 'Berlin' that have a shipped date in 1997.,"MATCH (c:Customer)-[:PURCHASED]->(o:Order)-[:ORDERS]->(p:Product) WHERE c.city = 'Berlin' AND o.shippedDate STARTS WITH '1997' RETURN o.orderID AS orderID, o.shippedDate AS shippedDate, c.companyName AS customerName, p.productName AS productName",MATCH (c:Customer)-[:PURCHASED]->(o:Order) WHERE c.city = 'Berlin' AND o.shippedDate STARTS WITH '1997' RETURN o
1672,List the first 3 orders with a freight cost greater than $100.,"MATCH (o:Order) WHERE toFloat(o.freight) > 100 RETURN o.orderID, o.freight ORDER BY toFloat(o.freight) DESC LIMIT 3",MATCH (o:Order) WHERE o.freight > '100' RETURN o LIMIT 3
1704,Which entities have a company number that starts with '240'?,MATCH (e:Entity) WHERE e.company_number STARTS WITH '240' RETURN e,"MATCH (e:Entity) WHERE e.company_number STARTS WITH '240' RETURN e.name AS entity_name, e.company_number AS company_number"
1759,List all entities with a last edit timestamp of '1638311020926'.,MATCH (e:Entity) WHERE e.lastEditTimestamp = '1638311020926' RETURN e,"MATCH (e:Entity) WHERE e.lastEditTimestamp = '1638311020926' RETURN e.name AS entity_name, e.node_id AS entity_id"
1764,How many entities have a struck_off_date in 2013?,MATCH (e:Entity) WHERE e.struck_off_date CONTAINS '2013' WITH count(DISTINCT e) AS count RETURN count,MATCH (e:Entity) WHERE e.struck_off_date STARTS WITH '2013' RETURN COUNT(e)
1768,Which entities have been incorporated in the year 2006?,"MATCH (e:Entity) WHERE e.incorporation_date CONTAINS '2006' RETURN e.name AS entity_name, e.incorporation_date AS incorporation_date","MATCH (e:Entity) WHERE e.incorporation_date = '2006' RETURN e.name, e.incorporation_date"
1780,List all entities with a last edit timestamp of '1638311020926'.,"MATCH (e:Entity) WHERE e.lastEditTimestamp = '1638311020926' RETURN e.name, e.node_id, e.countries, e.ibcRUC, e.valid_until, e.country_codes, e.service_provider, e.address, e.inactivation_date, e.struck_off_date, e.status, e.jurisdiction_description, e.incorporation_date, e.original_name, e.jurisdiction, e.internal_id, e.sourceID, e.former_name, e.company_type, e.tax_stat_description, e.note, e.dorm_date, e.type, e.closed_date, e.company_number, e.comments, e.entity_number","MATCH (e:Entity) WHERE e.lastEditTimestamp = '1638311020926' RETURN e.name AS entity_name, e.node_id AS entity_id"
1804,What are the top 5 movies released in the 1990s by revenue?,MATCH (m:Movie) WHERE m.released >= '1990-01-01' AND m.released < '2000-01-01' AND m.revenue IS NOT NULL RETURN m ORDER BY m.revenue DESC LIMIT 5,"MATCH (m:Movie) WHERE m.released STARTS WITH '199' WITH m ORDER BY m.revenue DESC LIMIT 5 RETURN m.title, m.revenue"
1934,List the top 5 movies released in the 2000s.,"MATCH (m:Movie) WHERE m.year >= 2000 AND m.year < 2010 RETURN m.title, m.year ORDER BY m.imdbRating DESC LIMIT 5","MATCH (m:Movie) WHERE m.released STARTS WITH '200' RETURN m.title, m.year, m.released ORDER BY m.year DESC LIMIT 5"
1938,List the top 5 movies that were released in the '90s.,"MATCH (m:Movie) WHERE m.released STARTS WITH '199' RETURN m.title, m.released, m.imdbRating ORDER BY m.imdbRating DESC LIMIT 5","MATCH (m:Movie) WHERE m.released STARTS WITH '199' RETURN m.title, m.year, m.released ORDER BY m.year DESC LIMIT 5"
2006,List 3 movies that were released in the 1990s and have an IMDB rating above 7.,"MATCH (m:Movie) WHERE m.year >= 1990 AND m.year < 2000 AND m.imdbRating > 7 RETURN m.title, m.year, m.imdbRating LIMIT 3","MATCH (m:Movie) WHERE m.released STARTS WITH '199' AND m.imdbRating > 7 RETURN m.title, m.imdbRating, m.released LIMIT 3"
2067,What is the score of the comment with the uuid 122427099?,MATCH (c:Comment) WHERE c.uuid = 122427099 RETURN c.score,MATCH (c:Comment {uuid: '122427099'}) RETURN c.score
2080,What is the body markdown of the answer with the uuid 69273049?,MATCH (a:Answer {uuid: 69273049}) RETURN a.body_markdown,MATCH (a:Answer) WHERE a.uuid = '69273049' RETURN a.body_markdown

In [109]:
def count_as(column):
    return column.str.count(r'\bas\b', flags=re.IGNORECASE)

excessive_df = executable_df[count_as(executable_df['generated_cypher']) > count_as(executable_df['cypher'])+1]

In [118]:
# excessive_df[["question","cypher","generated_cypher"]]

In [111]:
len(excessive_df)

130

In [123]:
df.iloc[14]

Unnamed: 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1229
question                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      How many users have a color other than '#FF7F50' and a size greater than 2?
schema                      Node properties:\n- **User**\n  - `label`: STRING Example: "inchristbl.bsky.social"\n  - `key`: STRING Example: "0"\n  - `y`: FLOAT Example: "6000.659"\n  - `color`: STRING Example: "#3CB371"\n  - `x`: FLOAT Example: "-4383.217"\n  - `area`: FLOAT Example: "2.6"\n  - `size`: FLOAT Example: "1.82"\nRelationship properties:\n- **INTERACTED**\n  - `weight: INTEGER` Example: "1"\n  - `ogWeight: INTEGER` Example: "1"\n  - `size: FLOAT` Example: "0.2"\n  - `key: STRING` Example: "geid_68_0"\nThe relationships:\n(:User)-[:INTERACTED]->(:User)
cypher                                                                                                                                                                                                                                                                                                                                                                                                                                                                       MATCH (u:User) WHERE u.color <> '#FF7F50' AND u.size > 2 WITH count(*) AS numberOfUsers RETURN numberOfUsers
data_source                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    neo4jLabs_synthetic_gemini
instance_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             instance_id_30483
database_reference_alias                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        neo4jlabs_demo_db_bluesky
generated_cypher                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  MATCH (u:User) WHERE u.color <> 'FF7F50' AND u.size > 2 RETURN count(u)
bleu_score                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0.570175
error_analysis                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    NoError
exact_match                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           0.0
Name: 14, dtype: object

In [219]:
def count_distinct_kw(column):
    return column.str.count(r'\bdistinct\b', flags=re.IGNORECASE)

df_distinctkw = executable_df[count_distinct_kw(executable_df['generated_cypher']) < count_distinct_kw(executable_df['cypher'])]

In [220]:
df_distinctkw[df_distinctkw["bleu_score"] < 0.4][["question","cypher","generated_cypher"]]
#df_distinctkw

,question,cypher,generated_cypher
67,What is the total number of questions asked by users with a reputation greater than the average reputation of all users?,MATCH (u:User) WITH avg(u.reputation) AS averageReputation MATCH (u:User)-[:ASKED]->(q:Question) WHERE u.reputation > averageReputation RETURN count(DISTINCT q) AS questionCount,"MATCH (u:User)-[:ASKED]->(q:Question) WITH u, q RETURN u.reputation AS user_reputation, q.title AS question_title, q.link AS question_link, q.createdAt AS question_created_at, q.upVotes AS question_upvotes, q.downVotes AS question_downvotes, q.score AS question_score UNION ALL MATCH (u:User)-[:ASKED]->(q:Question) WITH u, q RETURN u.reputation AS user_reputation, q.title AS question_title, q.link AS question_link, q.createdAt AS question_created_at, q.upVotes AS question_upvotes, q.downVotes AS question_downvotes, q.score AS question_score ORDER BY q.createdAt DESC"
176,Which organizations have a revenue decrease mentioned in any articles?,MATCH (a:Article)-[:MENTIONS]->(o:Organization) WHERE a.sentiment < 0 AND exists { (a)-[:HAS_CHUNK]->(c:Chunk) WHERE c.text CONTAINS 'revenue decrease' OR c.text CONTAINS 'revenue declined' } RETURN DISTINCT o.name AS organization,MATCH (o:Organization)-[:MENTIONS]->(a:Article) WHERE a.summary CONTAINS 'revenue decrease' RETURN o.name
421,Which organizations have been mentioned in articles about corporate social responsibility?,"MATCH (a:Article)-[:HAS_CHUNK]->(c:Chunk) WHERE c.text CONTAINS ""corporate social responsibility"" MATCH (a)-[:MENTIONS]->(o:Organization) RETURN DISTINCT o.name",MATCH (a:Article)-[:MENTIONS]->(o:Organization) WHERE a.summary CONTAINS 'corporate social responsibility' RETURN o.name
524,"What is the total number of filings where the originator bank, beneficiary bank, and filer organization are all located in different countries?",MATCH (filing:Filing) WITH filing MATCH (filing)-[:ORIGINATOR]->(:Entity)-[:COUNTRY]->(originatorCountry:Country) MATCH (filing)-[:CONCERNS]->(:Entity)-[:COUNTRY]->(beneficiaryCountry:Country) MATCH (filing)-[:FILED]->(:Entity)-[:COUNTRY]->(filerCountry:Country) WHERE originatorCountry.code <> beneficiaryCountry.code AND originatorCountry.code <> filerCountry.code AND beneficiaryCountry.code <> filerCountry.code RETURN count(DISTINCT filing) AS totalFilings,MATCH (f:Filing) WHERE f.originator_bank_country <> f.beneficiary_bank_country AND f.originator_bank_country <> f.filer_org_name AND f.beneficiary_bank_country <> f.filer_org_name RETURN count(f)
570,List the top 3 countries by the number of entities that have filed more than 30 filings.,"MATCH (e:Entity)-[:FILED]->(f:Filing) WITH e, count(f) AS filingsCount WHERE filingsCount > 30 MATCH (e)-[:COUNTRY]->(c:Country) RETURN c.name, count(DISTINCT e) AS entityCount ORDER BY entityCount DESC LIMIT 3","MATCH (e:Entity)-[:FILED]->(f:Filing) WITH e, count(f) AS filing_count WHERE filing_count > 30 WITH e, filing_count, e.name AS entity_name, e.location AS entity_location, e.country AS entity_country ORDER BY filing_count DESC LIMIT 3 RETURN e.country AS country, filing_count AS filing_count"
584,"Which characters interacted with both ""Catelyn-Stark"" and ""Cersei-Lannister""?","MATCH (catelyn:Character {name: ""Catelyn-Stark""})-[:INTERACTS]->(catelyn_interaction) WITH catelyn, count(DISTINCT catelyn_interaction) AS catelyn_interactions MATCH (cersei:Character {name: ""Cersei-Lannister""})-[:INTERACTS]->(cersei_interaction) WITH catelyn, cersei, catelyn_interactions, count(DISTINCT cersei_interaction) AS cersei_interactions MATCH (catelyn)-[:INTERACTS]->(common_interaction)<-[:INTERACTS]-(cersei) RETURN DISTINCT common_interaction.name","MATCH (c1:Character {name: ""Catelyn-Stark""})-[:INTERACTS45]->(c2:Character), (c3:Character {name: ""Cersei-Lannister""})-[:INTERACTS45]->(c2) RETURN DISTINCT c2.name"
611,Find all characters that have interacted in 'book 2' and have a 'louvain' value greater than 3.,MATCH (c:Character)-[:INTERACTS2]->(c2:Character) WHERE c.louvain > 3 RETURN DISTINCT c.name,"MATCH (c1:Character)-[r:INTERACTS2]->(c2:Character) WHERE r.book = 2 AND c1.louvain > 3 AND c2.louvain > 3 RETURN c1.name AS character1, c2.name AS character2"
650,"Which characters have a 'degree' higher than 10 and interacted with ""Cersei-Lannister"" in any book?","MATCH (cersei:Character {name: ""Cersei-Lannister""}) MATCH (other:Character) WHERE other.degree > 10 AND ( (cersei)-[:INTERACTS]->(other) OR (cersei)-[:INTERACTS1]->(other) OR (cersei)-[:INTERACTS2]->(other) OR (cersei)-[:INTERACTS3]->(other) OR (cersei)-[:INTERACTS45]->(other) ) RETURN DISTINCT other.name","MATCH (c1:Character)-[r:INTERACTS45]->(c2:Character) WHERE c1.name = ""Cersei-Lannister"" RETURN c1.name AS Character, c2.name AS InteractedWith, r.book AS Book, r.weight AS Weight"
663,Find the characters who have interacted with 'Aegon-I-Targaryen' in any book and have a 'centrality' of 0.0.,MATCH (aegon:Character {name: 'Aegon-I-Targaryen'}) CALL { WITH aegon MATCH (aegon)-[:INTERACTS]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS1]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS2]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS3]->(other) RETURN other UNION WITH aegon MATCH (aegon)-[:INTERACTS45]->(other) RETURN other } WITH other WHERE other.centrality = 0.0 RETURN DISTINCT other.name,"MATCH (c:Character)-[r:INTERACTS45]->(:Character {name: ""Aegon-I-Targaryen""}) WHERE c.centrality = 0.0 RETURN c.name"
733,List all businesses that have received reviews with both 4 and 5 stars.,"MATCH (b:Business) MATCH (b)<-[:REVIEWS]-(review:Review) WHERE review.stars IN [4, 5] WITH b, count(DISTINCT review.stars) AS distinct_star_counts WHERE distinct_star_counts = 2 RETURN b.name","MATCH (b:Business)<-[:REVIEWS]-(r:Review) WHERE r.stars IN [4.0, 5.0] RETURN b.name"
1066,List the actors who have acted in movies directed by both Lilly Wachowski and Lana Wachowski.,"MATCH (lilly:Person {name: 'Lilly Wachowski'})-[:DIRECTED]->(lillyMovies:Movie) MATCH (lana:Person {name: 'Lana Wachowski'})-[:DIRECTED]->(lanaMovies:Movie) MATCH (lillyMovies)<-[:ACTED_IN]-(lillyActors:Person) MATCH (lanaMovies)<-[:ACTED_IN]-(lanaActors:Person) WITH lillyActors, lanaActors WHERE id(lillyActors) = id(lanaActors) RETURN DISTINCT lillyActors.name AS actorName",MATCH (p:Person)-[:ACTED_IN]->(m:Movie)<-[:DIRECTED]-(d:Movie) WHERE d.title = 'The Matrix' AND m.title = 'The Matrix' RETURN p.name
1096,Find the actors who have acted in movies with a release year that is a prime number.,"MATCH (p:Person)-[:ACTED_IN]->(m:Movie) WHERE all(i IN range(2, toInteger(ceil(sqrt(m.released)))) WHERE m.released % i <> 0) RETURN DISTINCT p.name",MATCH (p:Person)-[:ACTED_IN]->(m:Movie) WHERE m.released IS NOT NULL AND m.released % 2 <> 0 AND m.released % 3 <> 0 AND m.released % 5 <> 0 AND m.released % 7 <> 0 AND m.released % 11 <> 0 AND m.released % 13 <> 0 AND m.released % 17 <> 0 AND m.released % 19 <> 0 AND m.released % 23 <> 0 AND m.released % 29 <> 0 AND m.released % 31 <> 0 RETURN p.name
1155,Who are the first 3 actors to have roles in movies with at least five different production companies?,"MATCH (p:Person)-[:CAST_FOR]->(m:Movie)-[:PRODUCED_BY]->(pc:ProductionCompany) WITH p, COUNT(DISTINCT pc) AS productionCompanyCount WHERE productionCompanyCount >= 5 MATCH (p)-[:CAST_FOR]->(m2:Movie) WITH p, m2 ORDER BY m2.release_date ASC WITH p, COLLECT(DISTINCT m2)[..3] AS firstThreeMovies RETURN p.name AS actor, firstThreeMovies LIMIT 3","MATCH (p:Person)-[:CAST_FOR]->(m:Movie) WITH p, count(DISTINCT m) AS numCompanies WHERE numCompanies >= 5 RETURN p.name AS actor, numCompanies ORDER BY numCompanies DESC LIMIT 3"
1359,Which actors have starred in both animated and non-animated movies?,"MATCH (animationGenre:Genre { name: 'Animation' })<-[:IN_GENRE]-(animationMovie:Movie)<-[:CAST_FOR]-(animationActor:Person) WITH COLLECT(DISTINCT animationActor) AS animationActors MATCH (nonAnimationGenre:Genre)<-[:IN_GENRE]-(nonAnimationMovie:Movie)<-[:CAST_FOR]-(nonAnimationActor:Person) WHERE nonAnimationGenre.name <> 'Animation' WITH animationActors, COLLECT(DISTINCT nonAnimationActor) AS nonAnimationActors WITH apoc.coll.intersection(animationActors, nonAnimationActors) AS actorsInBoth UNWIND actorsInBoth AS actor RETURN actor.name",MATCH (p:Person)-[:CAST_FOR]->(m:Movie {average_vote: 0.0}) WITH p MATCH (p)-[:CAST_FOR]->(m2:Movie) WHERE m2.average_vote > 0.0 RETURN p.name
1381,What are the total dependencies of the application 'crm' including indirect dependencies?,MATCH (app:Application {name: 'crm'}) CALL { WITH app MATCH (app)-[:DEPENDS_ON*]->(dependency) RETURN DISTINCT dependency } RETURN count(dependency) AS TotalDependencies,"MATCH (a:Application {name: 'crm'})-[r]->(d:Software) WITH a, COLLECT(d) AS software, COLLECT(r) AS relationships RETURN size(relationships)"
1450,Which software has the highest number of versions that are dependencies of other software?,"MATCH (s1:Software)-[:DEPENDS_ON]->(s2:Software)-[:VERSION]->(v:Version) WITH s2, size(collect(DISTINCT v)) AS versionCount ORDER BY versionCount DESC LIMIT 1 RETURN s2.name, versionCount","MATCH (s:Software)<-[:DEPENDS_ON]-(o:Software) WITH s, count(o) AS dependencyCount ORDER BY dependencyCount DESC RETURN s.name AS software, dependencyCount"
1601,List the orders that include the top 3 most expensive products.,"MATCH (p:Product) WITH p, toFloat(p.unitPrice) as price ORDER BY price DESC LIMIT 3 WITH collect(p.productID) as productIds MATCH (o:Order)-[:ORDERS]->(p:Product) WHERE p.productID IN productIds RETURN DISTINCT o.orderID","MATCH (p:Product)-[:ORDERS]->(o:Order) WITH p, o ORDER BY p.unitPrice DESC LIMIT 3 RETURN o"
1689,"List the ""sourceID"" values of all relationships connected to Entities with a ""struck_off_date"" before 2010.",MATCH (e:Entity) WHERE e.struck_off_date < '2010' WITH e MATCH (e)-[r]->() RETURN DISTINCT r.sourceID UNION MATCH (e:Entity) WHERE e.struck_off_date < '2010' WITH e MATCH (e)<-[r]-() RETURN DISTINCT r.sourceID,MATCH (e:Entity)-[r]->() WHERE e.struck_off_date < date('2010-01-01') RETURN DISTINCT r.sourceID
1711,How many officers have the same name but different icij_ids?,"MATCH (o:Officer) WITH o.name AS officer_name, collect(DISTINCT o.icij_id) AS icij_ids, count(*) AS num_officers WHERE size(icij_ids) > 1 RETURN count(*) AS num_officer_name_conflicts",MATCH (o1:Officer)-[:same_name_as]->(o2:Officer) WHERE o1.icij_id <> o2.icij_id RETURN COUNT(*)
1730,List the first 5 countries associated with Addresses.,MATCH (a:Address) RETURN DISTINCT a.countries LIMIT 5,"MATCH (a:Address) RETURN a.countries, a.name, a.address ORDER BY a.countries LIMIT 5"
1736,List the first 3 valid_until dates for relationships connected to Addresses.,MATCH ()-[r]->(a:Address) WITH collect(DISTINCT r.valid_until) AS valid_untils RETURN valid_untils[..3] AS first_3_valid_untils,MATCH (a:Address)-[r]->() WHERE r.valid_until IS NOT NULL RETURN r.valid_until LIMIT 3
1819,List the top 3 users who have rated at least one movie in each genre available.,"MATCH (u:User)-[r:RATED]->(m:Movie)-[:IN_GENRE]->(g:Genre) WITH u, collect(DISTINCT g.name) AS genresRated, count(DISTINCT g.name) AS genreCount MATCH (g2:Genre) WITH u, genresRated, genreCount, collect(DISTINCT g2.name) AS allGenres WHERE genreCount = size(allGenres) RETURN u.name AS userName, size(genresRated) AS genresRatedCount ORDER BY genresRatedCount DESC LIMIT 3","MATCH (u:User)-[:RATED]->(m:Movie) WITH u, m, count(DISTINCT m.title) AS genreCount RETURN u.name AS userName, genreCount ORDER BY genreCount DESC LIMIT 3"
1883,Which country has produced the most movies in the database?,"MATCH (m:Movie) UNWIND m.countries AS country WITH country, COUNT(DISTINCT m) AS movieCount ORDER BY movieCount DESC RETURN country, movieCount LIMIT 1",MATCH (m:Movie) WHERE m.countries IS NOT NULL WITH m.countries AS countries RETURN countries ORDER BY size(countries) DESC LIMIT 1
2048,Find the movies that have been released in the same year that a user rated a movie.,"MATCH (u:User {userId: ""1""})-[:RATED]->(m:Movie) WITH collect(DISTINCT m.year) AS user_rated_movie_years MATCH (m2:Movie) WHERE m2.year IN user_rated_movie_years RETURN m2.title, m2.year",MATCH (u:User)-[:RATED]->(m:Movie) WITH m.year AS movieYear MATCH (m:Movie) WHERE m.year = movieYear RETURN m
2133,List the titles of questions that have been answered by more than one user.,"MATCH (question:Question)<-[:ANSWERED]-(answer:Answer) WITH question, count(DISTINCT answer) AS answer_count WHERE answer_count > 1 RETURN question.title","MATCH (q:Question)-[:ANSWERED]->(a:Answer) WITH q, count(a) AS answerCount WHERE answerCount > 1 RETURN q.title"
2282,Find the streams that have a chatter user who is also a VIP of another stream playing the same game.,MATCH (stream:Stream)<-[:CHATTER]-(chatter:User) MATCH (chatter)-[:VIP]->(other_stream:Stream) MATCH (stream)-[:PLAYS]->(game:Game)<-[:PLAYS]-(other_stream) WHERE id(stream) <> id(other_stream) RETURN DISTINCT stream.name,MATCH (s1:Stream)-[:CHATTER]->(u:User)-[:VIP]->(s2:Stream)-[:PLAYS]->(g:Game) WHERE s1 <> s2 RETURN s1
2301,Which streams have users as VIPs and moderators and list those users' names?,"MATCH (s:Stream)-[:VIP]->(vipUser:User), (s)-[:MODERATOR]->(modUser:User) RETURN s.id AS StreamID, collect(DISTINCT vipUser.name) AS VIPUserNames, collect(DISTINCT modUser.name) AS ModeratorUserNames","MATCH (s:Stream)<-[:VIP]-(u:User)-[:MODERATOR]-(s) RETURN s.name AS stream_name, u.name AS user_name"
2398,"Find the users who have retweeted tweets that mention hashtags also used by ""Neo4j"".","MATCH (neo4j:User {screen_name: ""neo4j""})-[:POSTS]->(neo4jTweets:Tweet)-[:TAGS]->(commonHashtags:Hashtag) WITH neo4j, neo4jTweets, commonHashtags MATCH (otherTweets:Tweet)-[:TAGS]->(commonHashtags)<-[:TAGS]-(neo4jTweets) WITH DISTINCT otherTweets MATCH (user:User)-[:POSTS]->(:Tweet)-[:RETWEETS]->(otherTweets) RETURN DISTINCT user.screen_name",MATCH (u:User)-[:RETWEETS]->(rt:Tweet)-[:MENTIONS]->(h:Hashtag) WHERE h.name CONTAINS 'education' AND u.screen_name <> 'neo4j' RETURN u.screen_name
2418,"List the tweets that mention users who have retweeted tweets that mention ""Neo4j"".",MATCH (me:Me {name: 'Neo4j'})<-[:MENTIONS]-(tweet1:Tweet)<-[:RETWEETS]-(:Tweet)<-[:POSTS]-(user:User)<-[:MENTIONS]-(tweet2:Tweet) RETURN DISTINCT tweet2.id_str,MATCH (t:Tweet)-[:MENTIONS]->(u:User) WHERE u.screen_name = 'neo4j' MATCH (t)-[:RETWEETS]->(r:Tweet) MATCH (r)-[:MENTIONS]->(m:User) RETURN t.text